body{
    /* background: url("../images/bg.jpeg") no-repeat center 0/105% #000; */
    background-color: rgb(207, 207, 207);
    padding: 30px 0;
    min-width: 1200px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container{
    margin-top: 20px;
    width:75%;
    margin:0 auto;
    /* background-color: rgba(255, 255, 255, .3); */
    height: 750px;
}

.container .nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:rgba(0, 0, 0, .7);
}

.container .nav .logo{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    opacity: 70%;
}

.container .nav .logo:hover{
    opacity: 100%;
    transition: ease-in-out .2s;
}

.container .nav .logo h1{
    display: none;
}

.container .nav .logo img{
    width: 100px;
    height: 100px;
}

.container .nav .left-nav{
    float:left;
}

.container .nav .right-nav{
    float: right;
}

.container .nav .left-nav a,
.container .nav .right-nav a{
    line-height: 100px;
    margin: 0 20px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.746);
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
}

.container .nav .left-nav a:hover,
.container .nav .right-nav a:hover{
    color: white;
    transition:ease-in-out .5s ;
}

.container .slogan{
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 100px;
    /* background-color: rgba(255, 255, 255, .3); */
    padding:80px 0;
    box-sizing: border-box;
    font-size: 100px;
    font-weight: 900;
    color: white;
}

.container .activity{
    width: 100%;
    height: 250px;
    /* background-color: rgba(255, 255, 255, .3); */
}

.container .activity .item li{
    float: left;
    box-sizing: border-box;
    margin-right: 26px;
}

/* .container .activity .item ul:last-child{
    margin-right: 0;
} */


.work{
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    width: 250px;
    height: 250px;
    transition: all .5s ease-in;
}

.work:hover{
    bottom: 6px;
    box-shadow:0 7px 10px rgba(0, 0, 0, .15);
}

.work .title{
    
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:0px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(173, 173, 173);

}